<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.alfred.bear</string>
	<key>connections</key>
	<dict>
		<key>0E9F26A9-5E39-4DDC-9B4B-1C998447F8F8</key>
		<array/>
		<key>1682545E-3FC5-4BA7-B4CE-135C34E11C44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BE2555B-2E36-46A6-976D-66C458841D95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A741966-5341-40BC-996D-68EAB30F62AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BAAA486-610C-457F-BC72-FF7242F797E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B1A7760-D68E-4F9C-9F05-58D61F41D0C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEEE034C-7488-44C3-A9A1-F8CF12E175AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1822493-25C1-4A2E-8C9E-D2AECF924974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51E0F38F-116B-404D-B096-130B3054FA64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7B6E6B-69EA-466F-8030-56CE80881702</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A7B6E6B-69EA-466F-8030-56CE80881702</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6BBD73A-6D18-4B8B-95B5-7ABB179F11B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B6F048B-E933-4908-B391-EE17DCD239E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C18A2120-5700-4B12-BA3C-C20476ABA9A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E677D1B-B758-42A3-B4A9-2AAAD841EBDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A4B6C1-036F-45C4-BC98-1757802447E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79068600-4B67-43B3-A114-6B2F0CD840AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF453589-35D9-4C90-A2D7-F1FF0D6B9AB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>896D6097-3725-408B-BAE8-F4A5DA648DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5F427FC-BEE1-4C26-8E46-EDED39834CBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>915F45D1-096A-4EA4-B21E-1E8B0DDD08A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3551607-915F-4C6B-AA7A-8561DD8ECD46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96E9A73E-6B73-41F5-932E-218AD332F788</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BAAA486-610C-457F-BC72-FF7242F797E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A57C1B3-98D2-4857-BF03-F68279B6357F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF453589-35D9-4C90-A2D7-F1FF0D6B9AB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC123FEE-10F1-4704-A05D-453295453FEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>74D89E61-F33F-43B9-A518-3FF322D91D9A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BAAA486-610C-457F-BC72-FF7242F797E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5FE8E36-03DA-4BB2-927C-F651EBA8A977</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>74D89E61-F33F-43B9-A518-3FF322D91D9A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF453589-35D9-4C90-A2D7-F1FF0D6B9AB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC43A7B-CC72-48BD-A32D-E3AAB2B62158</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BAAA486-610C-457F-BC72-FF7242F797E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEEE034C-7488-44C3-A9A1-F8CF12E175AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E9F26A9-5E39-4DDC-9B4B-1C998447F8F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C18A2120-5700-4B12-BA3C-C20476ABA9A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1E8918B-73D5-4018-8B8A-A8A9007B4B7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D14874E6-A2AF-4386-A5E4-15D8F6C2AD6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BAAA486-610C-457F-BC72-FF7242F797E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E8918B-73D5-4018-8B8A-A8A9007B4B7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A57C1B3-98D2-4857-BF03-F68279B6357F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6BBD73A-6D18-4B8B-95B5-7ABB179F11B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>915F45D1-096A-4EA4-B21E-1E8B0DDD08A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F05F04EB-987E-4118-97BA-299EA0D5269A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B1A7760-D68E-4F9C-9F05-58D61F41D0C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5FE8E36-03DA-4BB2-927C-F651EBA8A977</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73CD1003-1EB6-41AD-9205-DC88881924D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC123FEE-10F1-4704-A05D-453295453FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89964AC2-784D-4776-8979-DE530696B99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>Search Bear notes from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Freddiebear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btitle</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" search --show-tags "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open (or Create) Note by Title</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D14874E6-A2AF-4386-A5E4-15D8F6C2AD6C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5ADEB109-2C47-4611-B75E-8B710AD3329D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/create?title={query}&amp;open_note=yes&amp;text=%20&amp;show_window=yes&amp;edit=yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>73CD1003-1EB6-41AD-9205-DC88881924D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>x-fb-create:</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F5FE8E36-03DA-4BB2-927C-F651EBA8A977</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" search --all --show-tags "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open (or Create) Note by Full Text Search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A741966-5341-40BC-996D-68EAB30F62AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/open-note?id={query}&amp;open_note=yes&amp;show_window=yes&amp;edit=yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF453589-35D9-4C90-A2D7-F1FF0D6B9AB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>x-fb-create:.*</string>
						<key>outputlabel</key>
						<string>create</string>
						<key>uid</key>
						<string>74D89E61-F33F-43B9-A518-3FF322D91D9A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9BAAA486-610C-457F-BC72-FF7242F797E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bbl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" backlinks "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Backlinks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96E9A73E-6B73-41F5-932E-218AD332F788</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/create?title={var:split1}&amp;tags={var:split2}&amp;open_note=yes&amp;edit=yes&amp;show_window=yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>89964AC2-784D-4776-8979-DE530696B99D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" titles</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Filter on a Title</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>79068600-4B67-43B3-A114-6B2F0CD840AB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bfl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" forwardlinks "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Forward Links</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEC43A7B-CC72-48BD-A32D-E3AAB2B62158</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>captainslog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Captain's Log</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B6F048B-E933-4908-B391-EE17DCD239E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" journal --tag captainslog --date</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C18A2120-5700-4B12-BA3C-C20476ABA9A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>FC123FEE-10F1-4704-A05D-453295453FEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*,.*</string>
						<key>outputlabel</key>
						<string>create</string>
						<key>uid</key>
						<string>74D89E61-F33F-43B9-A518-3FF322D91D9A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9A57C1B3-98D2-4857-BF03-F68279B6357F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E1E8918B-73D5-4018-8B8A-A8A9007B4B7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" transcript "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6BBD73A-6D18-4B8B-95B5-7ABB179F11B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btranscript</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Select a tag...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" tags</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create a Transcript</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51E0F38F-116B-404D-B096-130B3054FA64</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/create?edit=yes&amp;open_note=yes&amp;show_window=yes&amp;title={var:title}&amp;clipboard=yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A3551607-915F-4C6B-AA7A-8561DD8ECD46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>915F45D1-096A-4EA4-B21E-1E8B0DDD08A8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>Transcript: {query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A7B6E6B-69EA-466F-8030-56CE80881702</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btag</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Select a tag...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" tags</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Filter In-App on a Tag</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>896D6097-3725-408B-BAE8-F4A5DA648DC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/open-tag?name={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5F427FC-BEE1-4C26-8E46-EDED39834CBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>0079BC51-DE39-481D-BFBB-664804BEF933</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bsearch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Filter In-App on a Search Term</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E677D1B-B758-42A3-B4A9-2AAAD841EBDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/search?show_window=yes&amp;term={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F8A4B6C1-036F-45C4-BC98-1757802447E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0E9F26A9-5E39-4DDC-9B4B-1C998447F8F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>AEEE034C-7488-44C3-A9A1-F8CF12E175AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>pdffile="$(mktemp)"

"${FB_BINARY:-freddiebear}" graph "{query}" | dot -Tpdf &gt; "${pdffile}".pdf &gt;/dev/null 2&gt;&amp;1

echo -n "${pdffile}".pdf</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B1A7760-D68E-4F9C-9F05-58D61F41D0C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Graph of Linked Notes</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F05F04EB-987E-4118-97BA-299EA0D5269A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sleep 5
rm "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1822493-25C1-4A2E-8C9E-D2AECF924974</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:base_git_url}/{query}?{var:git_url_args}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BE2555B-2E36-46A6-976D-66C458841D95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bhist</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>"${FB_BINARY:-freddiebear}" titles --filename-as-arg</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Note's Git History</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1682545E-3FC5-4BA7-B4CE-135C34E11C44</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your Bear notes by title (with `bt`) or exhaustively (with `bs`). Or create/open a daily note with captainslog.

Release Notes:
- 1.1 Initial revision
- 1.2 Show note's tags as subtitle
- 1.3 Requires Bear 2
- 1.4 Graph view can now filter
- 1.5 Added `bhist` to launch GitHub/Lab blame history for a note
- 1.6 Faster title searching: renamed `bt` to `btitle` and `bt` now uses Alfred to quickly filter results, but `bt` lost ability to create new notes (use `btitle` instead)</string>
	<key>uidata</key>
	<dict>
		<key>0079BC51-DE39-481D-BFBB-664804BEF933</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>0E9F26A9-5E39-4DDC-9B4B-1C998447F8F8</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>1682545E-3FC5-4BA7-B4CE-135C34E11C44</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>1A741966-5341-40BC-996D-68EAB30F62AA</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>3B1A7760-D68E-4F9C-9F05-58D61F41D0C3</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>51E0F38F-116B-404D-B096-130B3054FA64</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>5A7B6E6B-69EA-466F-8030-56CE80881702</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>5ADEB109-2C47-4611-B75E-8B710AD3329D</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>5B6F048B-E933-4908-B391-EE17DCD239E5</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>6E677D1B-B758-42A3-B4A9-2AAAD841EBDB</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>73CD1003-1EB6-41AD-9205-DC88881924D8</key>
		<dict>
			<key>note</key>
			<string>create note</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>79068600-4B67-43B3-A114-6B2F0CD840AB</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>896D6097-3725-408B-BAE8-F4A5DA648DC1</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>89964AC2-784D-4776-8979-DE530696B99D</key>
		<dict>
			<key>note</key>
			<string>create cap log</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>915F45D1-096A-4EA4-B21E-1E8B0DDD08A8</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>96E9A73E-6B73-41F5-932E-218AD332F788</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9A57C1B3-98D2-4857-BF03-F68279B6357F</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>9BAAA486-610C-457F-BC72-FF7242F797E0</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>9BE2555B-2E36-46A6-976D-66C458841D95</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>A3551607-915F-4C6B-AA7A-8561DD8ECD46</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>AEC43A7B-CC72-48BD-A32D-E3AAB2B62158</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AEEE034C-7488-44C3-A9A1-F8CF12E175AF</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>C18A2120-5700-4B12-BA3C-C20476ABA9A6</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>D14874E6-A2AF-4386-A5E4-15D8F6C2AD6C</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>D5F427FC-BEE1-4C26-8E46-EDED39834CBC</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>DF453589-35D9-4C90-A2D7-F1FF0D6B9AB6</key>
		<dict>
			<key>note</key>
			<string>open note</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>E1822493-25C1-4A2E-8C9E-D2AECF924974</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>E1E8918B-73D5-4018-8B8A-A8A9007B4B7E</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>E6BBD73A-6D18-4B8B-95B5-7ABB179F11B4</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>F05F04EB-987E-4118-97BA-299EA0D5269A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>F5FE8E36-03DA-4BB2-927C-F651EBA8A977</key>
		<dict>
			<key>note</key>
			<string>remove x-fb</string>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>F8A4B6C1-036F-45C4-BC98-1757802447E8</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>FC123FEE-10F1-4704-A05D-453295453FEA</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>freddiebear</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Path to freddiebear binary</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fb_binary</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://...</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>base git(hub/lab) url</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>base_git_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>additional args to pass to git(hub/lab)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>git_url_args</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>FB_BINARY</key>
		<string>/Users/mikenadel/Projects/go/bin/freddiebear</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>FB_BINARY</string>
	</array>
	<key>version</key>
	<string>1.7</string>
	<key>webaddress</key>
	<string>https://github.com/mnadel/freddiebear</string>
</dict>
</plist>
